.menu {
    list-style: none;
  
    /*Remove default bullet points*/
    font-family: 'Courier New', Courier, monospace;
    line-height: 100px;
  
    a {
      /*Style actual text within the links*/
      text-decoration: none;
  
      /*Get rid of default underline*/
      font-size: 20px;
      font-weight: normal;
      color: white;
      padding: 0 50px;
  
      /*Crate space in between naviagtion links*/
    }
  }
  
  @media screen and (max-width: 600px) {
    .menu a {
      list-style: none;
  
      /*Remove default bullet points*/
      display: block;
  
      /*Place menu items next to each other*/
      line-height: 50px;
    }
  }
  
  h1, li {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
  }
  
  p {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
  
    a {
      color: black;
      text-decoration: underline;
    }
  }
  
  a {
    &.link {
      color: black;
      text-decoration: none;
    }
  
    &:hover {
      color: red;
      text-decoration: underline;
    }
  
    &.active {
      color: lime;
      font-weight: bold;
      font-size: 200%;
    }
  }
  
  .sizing img {
    width: 100%;
    height: auto;
  }
  
  td {
    word-wrap: break-word;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
  }