$font-fam: Arial, Helvetica, sans-serif;
$color: black;

%sharedMisc {
  color:grey;
}

.menu {
  list-style: none; 
  font-family: 'Courier New', Courier, monospace;
  line-height: 100px;

  a {
    text-decoration: none; 
    display: inline-block; 
    font-size: 20px;
    font-weight: normal;
    color: white;
    padding: 0 50px;
  }
}
  
@media screen and (max-width: 600px) {
  .menu a {
    list-style: none;
    display: block;
    line-height: 50px;
  }
}

#misc1{
  @extend %sharedMisc;
  font-style: italic;
}

#misc2{
  @extend %sharedMisc;
  letter-spacing: 2px;
}

h1, li {
  font-family: $font-fam;
  color: $color;
}

p {
  font-family: $font-fam;
  color: $color;

  a {
    color: $color;
    text-decoration: underline;
  }
}

a {
  &.link {
    color: $color;
    text-decoration: none;
  }

  &:hover {
    color: red;
    text-decoration: underline;
  }

  &.active {
    color: lime;
    font-weight: bold;
    font-size: 200%;
  }
}

td {
  word-wrap: break-word;
  font-family: $font-fam;
  color: $color;
}